/*
 *= require_self
*/

@import "susy";

// grid stuff

$susy: layout(12 1/2 fluid float split center);

$bp-medium: 30em;
$bp-large: 45em;

body
{
  background-color: #fff;
  color: black;
  font-size: 14px;
  font-family: georgia, "times new roman", serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #636363;
}
.anchor-link {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  color: #fff;
  background-color: #0084B4;
  text-decoration: none;
  margin: 3px;
  float: left;
  @include susy-breakpoint($bp-large, $susy) {
    display: none;
  }
}

.bar{
  align: right;
  float: right;
}
.menu_bar {
  background: transparent;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  li {
    float: left;
    font: 15px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  .active a{
    color: grey;
  }
  a {
    color: black;
    display: block;
    float: left;
    margin: 0;
    padding: 5px 16px;
    text-decoration: none;
  }
  a:hover {
    color: grey;
  }
}




strong {
  background: inherit;
  color: #50514D;
}

.header {
  @include span(12);
  background-color: #ffffff;
  color: #ffffff;
  margin-bottom: 7px;
}


.slogan {
  width: 240px;
  float: right;
  position: relative;
  top: 220px;
  font-size: 20px;
  color: rgb(0, 132, 149);
  text-align: left;
  font-style: italic;
}

ul.blu li
{
	font-size: 15px;
	line-height:130%;
	color: rgb(0, 132, 149);
	font-style: italic;
}

hr {
  border: none;
  background-color: rgb(0, 132, 149);
  color: rgb(0, 132, 149);
  height: 1px;
}

.fact
{
  	font: 12px "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
	line-height:120%;
	color: black;
	border-top: 1px dotted #008495;
	padding-top: 3px;
	margin-top: 3px;
}

.link, .vegan
{
  	font: 12px "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
	line-height:120%;
	color: black;
	border-top: 1px dotted #008495;
	padding-top: 3px;
	margin-top: 3px;
}

.vegan img{
	top: 3px;
	position: relative;
}

.logo_right {
  float: right;
  padding-left: 15px;
  padding-right: 0px;
}

.main
{
  @include susy-breakpoint($bp-large, $susy) {
    @include container(90%);
  }
  @include container(100%);
  padding-top: 20px;
  padding-bottom: 10px;
}


.menu {
  @include span(0%);
  visibility: collapse;
  @include susy-breakpoint($bp-large, $susy) {
    @include span(2);
    visibility: visible;;
  }
  padding: 0px;
  line-height: 14px;
  font-weight: bold;
  display: block;
  text-decoration: none;
  padding-top: 11px;
  color: #636363;
  font-size: 14px;
  a:hover {
    color: black;
   text-decoration: none;
 }
 ul {
   list-style: none;
   margin: 0px;
   padding-left: 0px;
   li.active a {
       font-size: 110%;
       color: black;
     }
  }
  .sub_menu {
    padding-left: 25px;
    margin-bottom: 9px;
  }
  .item {
    margin-bottom: 12px;
  }
}

.footer_menu {
  @include span(6);
  @include susy-breakpoint($bp-large, $susy) {
    @include span(0%);
    display: none;
  }
  padding: 0px;
  line-height: 14px;
  font-weight: bold;
  display: block;
  text-decoration: none;
  padding-top: 11px;
  color: #636363;
  font-size: 14px;
  a:hover {
    color: black;
   text-decoration: none;
 }
 ul {
   list-style: none;
   margin: 0px;
   padding-left: 0px;
   li.active a {
       font-size: 110%;
       color: black;
     }
  }
  .sub_menu {
    padding-left: 25px;
    margin-bottom: 9px;
  }
  .item {
    margin-bottom: 12px;
  }
}

h1 {
  background: inherit;
  color: #50514D;
  font-size: 26px;
}

h2 {
  color: #50514D;
  font-size: 20px;
  margin-top: 0px;
}


h3 {
  margin-top: 20px;
  color: #50514D;
  font-size: 15px;
}


h3.first {
  margin-top: 0px;
}

.rcol
{
  @include span(10);

  .sixty {
    @include span( 8);
  }
  .fourty {
    @include span( 4);
  }

  .eighty {
    @include span( 9);
  }
  .twenty {
    @include span( 3);
  }

  .six {
    float: left;
    width:  14%;
  	padding-left: 7px;
  	padding-right: 7px;
  	text-decoration: center;
  }

  .seven {
    float: left;
    width:  10%;
  	padding-left: 0px;
  	padding-right: 2px;
  }


  .two {
    @include span( 6);
  }

  .one {
    @include span(100%);
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .three {
    @include span(12);
    @include susy-breakpoint($bp-medium, $susy) {
      @include gallery(6 of 12);
    }
    @include susy-breakpoint($bp-large, $susy) {
      @include gallery(4 of 12);
    }
  }

  .four {
    @include span(12);
    @include susy-breakpoint($bp-large, $susy) {
      @include gallery(6 of 12);
    }
    @include susy-breakpoint($bp-large, $susy) {
      @include gallery(3 of 12);
    }
  }

}

.rcontent
{
  position: relative;
  padding: 10px 25px 0px 20px;
}

p {
  margin-bottom: 15px;
  text-align: left;
  line-height: 20px;
}


.divider{
  font-size: 0px;
  position: relative;
  height: 1px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

img {
border-style: none;
float: none;
vertical-align: baseline
}

.footer
{
  clear: both;
  padding-left: 10px;
  margin-bottom: 25px;
  padding-top: 50px;
  text-align: center;
  line-height: 18px;

  .footer-text {
    	font: 12px "Lucida Sans Unicode", Verdana, Helvetica, sans-serif;
  	line-height:120%;
  	color: black;
  	border-top: 1px dotted #008495;
  	padding-top: 3px;
  	margin-top: 3px;
  }
}


.left {
	float:  left;
}

.imgleft
{
margin-left: 80px;
}


.bottom {
  vertical-align: bottom;
}


.taul {text-align: left;  font: .7em/1.0 Georgia, Serif; margin:auto;}
.ots {vertical-align: top; width: 95px; border-top: 1px solid #000000; font-weight:bold;}
.solu {border-top: 1px dotted #000000;}

small {
font-size: .8em;
}
