!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    =stylesheet_link_tag    'application', media: 'screen'
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %meta{:content => "Farfalla", :name => "keywords"}/
    %meta{:content => "Farfalla : #{data('slogan') + ' ' + data("#{@page}.header")}", :name => "description"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "fi", "http-equiv" => "Content-Language"}/
    %meta{:name => "viewport", "content" => "width=device-width,initial-scale=1"}/

    %title
      Farfalla : #{data("#{@page}.header")}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12603339-4', 'auto');
      ga('send', 'pageview');

  %body
    .main
      .header
        .head_picture
          = link_to "/" do
            =image_tag "site/header.jpg" , :width => "100%"
        .bar
          = link_to "Menu" , "#mobilenav" , :class => "anchor-link"
          %ul.menu_bar
            - data("menu_bar").split.each do |menu|
              %li{:class => "menu_item#{raw  ' active' if params[:page] == menu}"}
                %a{:href => "/#{menu}.html"}= data(menu+'.menu_text')
      .content
        .menu
          %ul
            - data("menu").split.each do |p|
              %li{:class => "item#{raw  ' active' if params[:page] == p}"}
                = link_to  data(p+'.menu_text') , "/#{p}.html"
              - if (data(p+'.sub_menu').index("missing") == nil) and (p == @page or data(p+'.sub_menu').index(@page) != nil)
                - data(p+'.sub_menu').split.each do |sub|
                  %li{:class => "sub_menu #{'active' if params[:page] == sub}"}
                    = link_to  data("#{sub}.header") , "/#{sub}.html"
        .rcol
          - if flash[:error]
            .flash.errors= flash[:error]
          - if flash[:notice]
            .flash.notice= flash[:notice]
          = yield
        .one
          .footer_menu#mobilenav
            %ul
              - data("menu").split.each do |p|
                %li{:class => "item#{raw  ' active' if params[:page] == p}"}
                  = link_to  data(p+'.menu_text') , "/#{p}.html"
          .footer_menu
            %ul
              - data("menu").split.each do |p|
                - if (data(p+'.sub_menu').index("missing") == nil) and (p == @page or data(p+'.sub_menu').index(@page) != nil)
                  - data(p+'.sub_menu').split.each do |sub|
                    %li{:class => "sub_menu #{'active' if params[:page] == sub}"}
                      = link_to  data("#{sub}.header") , "/#{sub}.html"
        .footer
          .kolmas
            =image_tag  "site/farfalla-logo.gif"
            .link
              %b> Farfalla
              n toiminta on todellisesti eettistä.
              Farfalla mm. toteuttaa hyväntekeväisyysprojekteja ja pitää huolta viljelijöistään.
              %a{:href => "quality.html", :target => "blank"} Lue lisää
              %br/
              %br/
              %b Maahantuonti ja lisätiedot
              Auringosta Itään, Kuusta Länteen Tukku &nbsp;&nbsp;&nbsp;
              %a{:href => "tukku.html", :target => "blank"} Yhteystiedot
              %br/
      .divider
      %br/
      %br/
      %br/
